extends modules/layout
block title
	| Techademy - Powered by IIHT : Checkout
block content
	.banner.inner-banner(style="background-image: url(img/about-us.jpg)")
	section.checkout-content
		.container
			h1.mt-5.mb-5
				| Checkout
			.text-center.mb-3
				span
					| Grand Total
				span.icon.icon-inr
				| 1998
			