extends modules/layout
block title
	| Techademy - Powered by IIHT : Become an Instructor
block content
	.banner.inner-banner(style="background-image: url(img/become-an-instructor.jpg)")
		h2
			| Join us
			br
			| spread the knowledge
	section.instructor-content
		.container-fluid
			h1.text-center.mb-5.mt-5
				| Here's how it works
			.row.text-center
				.col-12.col-sm-6.col-md-3
					p
						span.thumbnail-icon.thumb1.mx-auto
						|
						strong
							| Encourage Students
						| Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
				.col-12.col-sm-6.col-md-3
					p
						span.thumbnail-icon.thumb2.mx-auto
						|
						strong
							| Encourage Students
						| Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
				.col-12.col-sm-6.col-md-3
					p
						span.thumbnail-icon.thumb3.mx-auto
						|
						strong
							| Encourage Students
						| Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
				.col-12.col-sm-6.col-md-3
					p
						span.thumbnail-icon.thumb4.mx-auto
						|
						strong
							| Encourage Students
						| Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
			h1.mt-5.mb-5.text-center
				| We're pushing boundaries everyday
			.row.new-target
				.col-6.col-md-3.text-center
					p
						strong
							| 2000
						| Courses
				.col-6.col-md-3.text-center
					p
						strong
							| 150
						| Mentors
				.col-6.col-md-3.text-center
					p
						strong
							| 60000
						| Student
				.col-6.col-md-3.text-center
					p
						strong
							| 700
						| Assignments
			.mb-5.transform.text-center(style="background-image: url(img/about-us.jpg)")
				p.my-auto
					strong
						| Approach us or the community for hely 24x7
					| If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator.
			.text-center.mb-5
				button.btn.btn-primary.btn-lg(type="button")
					| Join Us