extends modules/layout
block title
	| Techademy - Powered by IIHT : Plans
block content
	.banner.inner-banner(style="background-image: url(img/plan.jpg)")
		h2
			| Curated plans suited to your needs
	section.plan-content
		.container-fluid
			.row.mb-5.mt-5
				.col-12.col-sm-6.col-md-4
					.card.mb-3
						img.card-img-top.img-fluid(src="img/personal.jpg")
						.card-body
							h1.card-title
								| Personal
							p.card-text
								| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris gravida lacus eget ullamcorper accumsan. Nunc efficitur lacinia fringilla.
							h1.card-title
								| Benefits
							p.card-text
								| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris gravida lacus eget ullamcorper accumsan. Nunc efficitur lacinia fringilla.
							ul.options
								li
									span.icon.icon-inr
									| 1999
								li
									button.btn.btn-primary.btn-sm(type="button")
										| Add to Cart
				.col-12.col-sm-6.col-md-4
					.card.mb-3
						img.card-img-top.img-fluid(src="img/business.jpg")
						.card-body
							h1.card-title
								| Business
							p.card-text
								| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris gravida lacus eget ullamcorper accumsan. Nunc efficitur lacinia fringilla.
							h1.card-title
								| Benefits
							p.card-text
								| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris gravida lacus eget ullamcorper accumsan. Nunc efficitur lacinia fringilla.
							ul.options
								li
									span.icon.icon-inr
									| 1999
								li
									button.btn.btn-primary.btn-sm(type="button")
										| Add to Cart
				.col-12.col-sm-6.col-md-4
					.card.mb-3
						img.card-img-top.img-fluid(src="img/team.jpg")
						.card-body
							h1.card-title
								| Team
							p.card-text
								| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris gravida lacus eget ullamcorper accumsan. Nunc efficitur lacinia fringilla.
							h1.card-title
								| Benefits
							p.card-text
								| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris gravida lacus eget ullamcorper accumsan. Nunc efficitur lacinia fringilla.
							ul.options
								li
									span.icon.icon-inr
									| 1999
								li
									button.btn.btn-primary.btn-sm(type="button")
										| Add to Cart