.regular.slider
	a(href="#")
		.card
			img.card-img-top.img-fluid(src="img/card1.jpg")
			.card-body
				h1.card-title
					span.price.float-right
						span.icon.icon-inr
						| 1999
					| Adobe Photoshop Beginner Course
				p.card-text
					| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris gravida lacus eget ullamcorper accumsan. Nunc efficitur lacinia fringilla. Etiam quis consectetur orci, id condimentum diam.
				ul.options
					li
						span.glyphicon.glyphicon-time
						| 12h 30m
					li
						span.glyphicon.glyphicon-heart
						| 80000
					li
						button.btn.btn-primary.btn-sm(type="button")
							| Add to Cart
	a(href="#")
		.card
			img.card-img-top.img-fluid(src="img/card2.jpg")
			.card-body
				h1.card-title
					span.price.float-right
						span.icon.icon-inr
						| 1999
					| Adobe Photoshop Beginner Course
				p.card-text
					| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris gravida lacus eget ullamcorper accumsan. Nunc efficitur lacinia fringilla. Etiam quis consectetur orci, id condimentum diam.
				ul.options
					li
						span.glyphicon.glyphicon-time
						| 12h 30m
					li
						span.glyphicon.glyphicon-heart
						| 80000
					li
						button.btn.btn-primary.btn-sm(type="button")
							| Add to Cart
	a(href="#")
		.card
			img.card-img-top.img-fluid(src="img/card3.jpg")
			.card-body
				h1.card-title
					span.price.float-right
						span.icon.icon-inr
						| 1999
					| Adobe Photoshop Beginner Course
				p.card-text
					| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris gravida lacus eget ullamcorper accumsan. Nunc efficitur lacinia fringilla. Etiam quis consectetur orci, id condimentum diam.
				ul.options
					li
						span.glyphicon.glyphicon-time
						| 12h 30m
					li
						span.glyphicon.glyphicon-heart
						| 80000
					li
						button.btn.btn-primary.btn-sm(type="button")
							| Add to Cart
	a(href="#")
		.card
			img.card-img-top.img-fluid(src="img/card4.jpg")
			.card-body
				h1.card-title
					span.price.float-right
						span.icon.icon-inr
						| 1999
					| Adobe Photoshop Beginner Course
				p.card-text
					| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris gravida lacus eget ullamcorper accumsan. Nunc efficitur lacinia fringilla. Etiam quis consectetur orci, id condimentum diam.
				ul.options
					li
						span.glyphicon.glyphicon-time
						| 12h 30m
					li
						span.glyphicon.glyphicon-heart
						| 80000
					li
						button.btn.btn-primary.btn-sm(type="button")
							| Add to Cart
	a(href="#")
		.card
			img.card-img-top.img-fluid(src="img/card5.jpg")
			.card-body
				h1.card-title
					span.price.float-right
						span.icon.icon-inr
						| 1999
					| Adobe Photoshop Beginner Course
				p.card-text
					| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris gravida lacus eget ullamcorper accumsan. Nunc efficitur lacinia fringilla. Etiam quis consectetur orci, id condimentum diam.
				ul.options
					li
						span.glyphicon.glyphicon-time
						| 12h 30m
					li
						span.glyphicon.glyphicon-heart
						| 80000
					li
						button.btn.btn-primary.btn-sm(type="button")
							| Add to Cart
	a(href="#")
		.card
			img.card-img-top.img-fluid(src="img/card6.jpg")
			.card-body
				h1.card-title
					span.price.float-right
						span.icon.icon-inr
						| 1999
					| Adobe Photoshop Beginner Course
				p.card-text
					| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris gravida lacus eget ullamcorper accumsan. Nunc efficitur lacinia fringilla. Etiam quis consectetur orci, id condimentum diam.
				ul.options
					li
						span.glyphicon.glyphicon-time
						| 12h 30m
					li
						span.glyphicon.glyphicon-heart
						| 80000
					li
						button.btn.btn-primary.btn-sm(type="button")
							| Add to Cart
	a(href="#")
		.card
			img.card-img-top.img-fluid(src="img/card7.jpg")
			.card-body
				h1.card-title
					span.price.float-right
						span.icon.icon-inr
						| 1999
					| Adobe Photoshop Beginner Course
				p.card-text
					| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris gravida lacus eget ullamcorper accumsan. Nunc efficitur lacinia fringilla. Etiam quis consectetur orci, id condimentum diam.
				ul.options
					li
						span.glyphicon.glyphicon-time
						| 12h 30m
					li
						span.glyphicon.glyphicon-heart
						| 80000
					li
						button.btn.btn-primary.btn-sm(type="button")
							| Add to Cart
	a(href="#")
		.card
			img.card-img-top.img-fluid(src="img/card8.jpg")
			.card-body
				h1.card-title
					span.price.float-right
						span.icon.icon-inr
						| 1999
					| Adobe Photoshop Beginner Course
				p.card-text
					| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris gravida lacus eget ullamcorper accumsan. Nunc efficitur lacinia fringilla. Etiam quis consectetur orci, id condimentum diam.
				ul.options
					li
						span.glyphicon.glyphicon-time
						| 12h 30m
					li
						span.glyphicon.glyphicon-heart
						| 80000
					li
						button.btn.btn-primary.btn-sm(type="button")
							| Add to Cart