footer
	.container-fluid
		.row
			.col-12.col-md-5
				a.techademy(href="index.html")
					| Techademy
				p
					| Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
				ul.social
					li
						| Follow Us: 
					li
						a(href="#")
							span.icon.icon-facebook
					li
						a(href="#")
							span.icon.icon-twitter
					li
						a(href="#")
							span.icon.icon-google-plus
					li
						a(href="#")
							span.icon.icon-pinterest-p
					li
						a(href="#")
							span.icon.icon-linkedin
			.col-6.col-md-3.offset-md-1
				h4
					| Usefull Links
				ul.quick-links
					li
						a(href="about.html")
							| About
					li
						a(href="#")
							| Cloud Labs
					li
						a(href="#")
							| Courses
					li
						a(href="#")
							| API Showcases
					li
						a(href="#")
							| Blog
					li
						a(href="instructor.html")
							| Become an Instructor
			.col-6.col-md-3
				h4
					| Contact Us
				ul.quick-links
					li
						a(href="#")
							span.glyphicon.glyphicon-earphone
							| +91 999 123 2345
					li
						a(href="#")
							span.glyphicon.glyphicon-envelope
							| info@iiht.com
	.container-fluid.copyright-block
		span.copyright
			| &copy; 2018
			a(href="index.html")
				| TECHADEMY
		ul.term-condition
			li
				a(href="#")
					| Terms and Conditions
			li
				a(href="#")
					| Privacy
			li
				a(href="#")
					| Support